html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.carousel-caption h5{
    font-size: 1.5vw;
}
.caption-caption p{
    font-size: 1vw;
}
.swiper-slide{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.swiper-slide img{
    width: 100%;
    display: block;
}
.swiper{
    width: 100%;
    height: 300px;
}